<div class="snippet">
  <h2>Paste a new snippet below:</h2>
  <form action="/" method="POST">
    <input type="hidden" name="id" value="<%= @snippet.id if @snippet %>" />
    <p><label for="name">Title: </label><input type="text" name="snippet_title" class="input-xxlarge" size="64" maxlength="64" value="<%= @snippet.title if @snippet %>"/></p>
    <textarea name="snippet_body" id="snippet_body" class="span12" rows="20"><%= @snippet.body if @snippet %></textarea>
    <br/>
    <input type="submit" value="Save" class="btn"/>
  </form>
</div>
